/** BASE **/
html, body, body > div {
    height: 100%;
    width: 100%;
}
div, a, button, input {
    letter-spacing: 1px;
}

.min-h-100 {
    min-height: 100%;
}
.max-h-100 {
    max-height: 100%;
}

.shadow {
    -webkit-filter: var(--arrow-drop-shadow);
    filter: var(--arrow-drop-shadow);
}

@include color-mode(dark) {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);

    // lighten up our warning color for dark mode
    --bs-warning: #f7397a;
    --bs-warning-rgb: 247, 57, 122;
}

/** FONTS **/

/** Display Text **/
.dt-1 {
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: left;
}

.lh-0 {
    line-height: 0;
}

.font-rubik {
    font-family: 'Rubik', sans-serif;
}

/** CARDS **/
.card-header {
    padding-top: 1.5rem;
    padding-left: 1.5rem;

    .tag {
        color: var(--bs-teal);
        padding: 8px 16px;
        border-radius: $border-radius-pill;
        background-color: $gray-100;
        text-transform: uppercase;
        font-weight: $font-weight-semibold;
    }
}

.card-title span {
    font-weight: 300;
}

/** BUTTONS **/
.btn {
    transition-duration: 275ms;
    transition-timing-function: ease;
    border-radius: 0.5rem;
}

.btn-icon {
    border-width: 0;
    padding: 0;
    margin: 0;
    line-height: 1;
    align-self: center;
}

.btn-info {
    --bs-btn-color: var(--bs-secondary);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-bg: none;
}

.btn-info:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        var(--bs-red) 50%,
        rgba(var(--bs-secondary-rgb), 1) 100%
    );
}

.btn-outline-primary {
    --bs-btn-hover-color: var(--bs-white);
}

.btn-primary, .btn-primary:hover {
    --bs-btn-color: var(--bs-white);
}

.btn-secondary {
    --bs-btn-color: var(--bs-white);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-bg: var(--bs-secondary);
    --bs-btn-active-border-color: var(--bs-secondary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-white);
    --bs-btn-disabled-bg: var(--bs-secondary);
    --bs-btn-disabled-border-color: var(--bs-secondary);
}

.btn-dark {
    --bs-btn-color: var(--bs-secondary-color);
    --bs-btn-bg: var(--bs-dark-bg-subtle);
}

.btn-gray {
    --bs-btn-active-bg: var(--bs-gray-800);
}

.btn-submit {
    border: 1em solid var(--bs-gray-600);
    font-weight: 400;
}

a,
.btn-link {
    text-transform: uppercase;
    font-weight: 700;
}

/** INPUTS **/
.form-control:focus {
    border: none!important;
}

.input-box {
    background-color: var(--bs-dark-bg-subtle);
    box-shadow: none!important;
    border-color: var(--bs-light);
    border-width: var(--bs-border-width);
    border-style: var(--bs-border-style);
    color: var(--bs-light);
    border-radius: var(--bs-border-radius-pill);
}
.input-box:has(input:focus) {
    -webkit-filter: var(--arrow-drop-shadow);
    filter: var(--arrow-drop-shadow);
}

.input-box input:focus {
    border: none;
    box-shadow: none;
}

.bg-image {
    background-size: cover;
    background-position: center;
}

.logo {
    background-color: var(--bs-light);
    mask: var(--logo);
    -webkit-mask: var(--logo);
    mask-size: cover;
    -webkit-mask-size: cover;
    height: 3rem;
    width: 12rem;
    margin-top: 9px;

    /* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/** LISTS **/
li {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
}

/** OTHER **/

header p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}


.infobox {
    padding: 24px;
    border: 1px solid var(--bs-teal);
    border-radius: 25px;
    background-color: #2b7fa3;
}

.modal-content {
    background: var(--bs-gray-400);
    border-radius: 16px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin: 10px;
}

.modal-content .btn-close {
    --bs-btn-close-color: #000;
}

.infobox h4 {
    font-size: var(--bs-body-font-size);
    text-transform: uppercase;
    font-weight: 700;
}

.manage-assets-header {
    background-color: var(--bs-blue-100);
}

.button-default-assets-header {
    background-color: var(--bs-blue-900);
}
