// dark mode
$enable-dark-mode: true;

$body-color-dark: $light;
$body-bg-dark: $dark;

$link-color-dark: $white;
$link-color-rgb-dark: $white-rgb;

$dark-bg-subtle-dark: $blue-800;

$form-label-color: $blue-300;
$form-label-font-weight: 500;



