// grays
$gray-100: #f9f9fd;
$gray-400: #424752;
$gray-500: #484d62;
$gray-600: #4b505b;
$gray-700: #373b46;
$gray-900: #222732;

// blues
$blue-100: #ecedfe;
$blue-300: #636f8b;
$blue-800: #252b40;
$blue-900: #1b202c;

// indigos
$indigo-100: #bbbbc4;
$indigo-500: #432198;
$indigo: $indigo-500;

// purples
$purple-500: #7c60aa;
$purple-800: #3f3569;
$purple: $purple-500;

// oranges
$orange-400: #ff8a78;
$orange-500: #ff5e45;
$orange: $orange-500;

$black: #181c27;
$black-rgb: 24, 28, 39;
$white: #fff;
$white-rgb: 100, 100, 100;
$red: #c22e17;
$teal: #2abb94;
$pink: #dc7b9a;
$yellow: #d9b16d;
$salmon: #ffb2a2;
$magenta: #ab6397;

$dark: $blue-900;
$light: $blue-100;
$light-rgb: 241, 244, 255;
$gray-dark: #3d414c;
$gray-dark-rgb: 61, 65, 76;
$primary: $orange;
$primary-rgb: 255, 93, 70;
$secondary: $orange-400;
$secondary-rgb: 255, 138, 120;
$info: $secondary;
$info-rgb: $secondary-rgb;
$success: #28bb94;
$success-rgb: 40, 187, 148;
$warning: #ae1349;
$warning-rgb: 243, 27, 101;

$link-color: $white;
$link-color-rgb: $white-rgb;

$body-color: $black;
$body-color-rgb: $black-rgb;
$body-bg: $white;
$body-bg-rgb: $white-rgb;
$border-radius: 50px;

$spacer: 2rem;
$spacers: (
    0: 0,
    1: $spacer * 0.3,
    2: $spacer * 0.5,
    3: $spacer * 1.5,
    4: $spacer * 2,
    5: $spacer * 2.5,
);

$font-size-base: 1rem;
$font-family-sans-serif: 'Poppins', sans-serif;
$headings-font-family: 'Poppins', sans-serif;

// cards
$card-bg: $light;
$card-border-width: 0;
$card-spacer-x: $spacer;
$card-spacer-y: $spacer;
$card-height: 100%;

// dark mode
$enable-dark-mode: true;

$body-color-dark: $white;
$body-bg-dark: $dark;

$input-bg: $blue-800;
$input-color: $light;
$input-border-width: 0;
$input-focus-border-color: $blue-800;
$input-btn-padding-x: map-get($spacers, 1);
$input-btn-padding-y: map-get($spacers, 1);
