:root {
  --arrow-bg-gradient-bottom-left-xl: radial-gradient(
    circle at bottom left,
    rgba(var(--bs-dark-rgb), 0.8),
    transparent 35%
  );
  --arrow-bg-gradient-bottom-left-md: radial-gradient(
    circle at bottom left,
    rgba(var(--bs-dark-rgb), 0.7),
    transparent 35%
  );
  --arrow-bg-gradient-top-right-xl: radial-gradient(
    circle at top right,
    rgba(var(--bs-secondary-rgb), 0.8),
    transparent 35%
  );
  --arrow-bg-gradient-top-right-md: radial-gradient(
    circle at top right,
    rgba(var(--bs-secondary-rgb), 0.8),
    transparent 25%
  );
  --arrow-bg-gradient-top-left-md: radial-gradient(
    circle at top left,
    rgba(var(--bs-light-rgb), 0.8),
    transparent 25%
  );

  --logo: url(img/logo-services.svg);
}
