input {
    background-color: transparent!important;
    border: none!important;
    outline: none!important;
    padding: 0!important;
    height: auto!important;
}

.form-control:focus {
    box-shadow: none!important;
    border: none!important;
}

.inputs {

    .input__div {
        justify-items: center;
        padding: 10px 15px;
        color: $white;
        background: $gray-dark-mild4;
        border: 1px solid $gray-light3;
        z-index: 5;

        &:focus-within {
            border: 1px solid $gray-light2;
            box-shadow: 0px 0px 0px 2px rgba(12, 9, 32, 0.25), -6px 0px 19px 8px rgba(52, 60, 194, 0.25), 6px 6px 20px rgba(255, 178, 162, 0.25);
        }

        .input__field {
            color: $white;

            &::placeholder {
                color: $gray-light2;
                text-transform: uppercase;
            }
        }
    }

    .input__dropdown_toggle {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "left-icon input-field input-icon";
        gap: 10px;

        .left-icon {
            grid-area: left-icon;
        }

        .input__field {
            grid-area: input-field;
        }

        .input__icon {
            grid-area: input-icon;
        }
    }

    .input__dropdown {
        background: $gray-dark3;
        border-radius: 10px;
        border: 1px solid $gray-light2;
        box-shadow: 0px 0px 0px 2px rgba(12, 9, 32, 0.25), -6px 0px 19px 8px rgba(52, 60, 194, 0.25), 6px 6px 20px rgba(255, 178, 162, 0.25);

        .input__dropdown__item {
            color: $white;
            border-bottom: solid 1px $gray-dark-mild2;
            padding: 0 15px;
            border-radius: 5px;

            &:hover {
                background: $dark-purple-gray;
            }
        }
    }
}
.input__error {
    grid-area: error;
    color: $red;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}
.action-button__container {
    display: flex;
    justify-content: center;
}

.action-button {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "left-icon text right-icon";
    gap: 5px;
}

.dropdown {
    margin: 0 auto;

    button {

        &::after {
            content: none;
        }
    }

    .dropdown-menu {
        border: none;
        border-top: 2px solid $primary;
        box-shadow: 0px 5px 23px -5px rgba(160, 156, 163, 0.7)!important;
    }
}

.manage-header-color {
    background-color: $light-gray;

}

.assets-header {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 0.1em;
    text-align: left;
}
