// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import 'bootstrap/scss/functions';

// 2. Include any default variable overrides here
@import 'fly_arrow_variables';

// 3. Include remainder of required Bootstrap stylesheets
@import 'bootstrap/scss/variables';

// 4. Include any default map overrides here
$all-colors: map-merge-multiple(
    $blues,
    $indigos,
    $purples,
    $pinks,
    $reds,
    $oranges,
    $yellows,
    $greens,
    $teals,
    $cyans
);
$theme-colors: map-merge($theme-colors, $colors);

// 5. Include remainder of required parts
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';

// 6. Optionally include any other parts as needed
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/helpers';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/accordion';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/modal';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/offcanvas';

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
$utilities: map-merge(
    $utilities,
    (
        'color':
            map-merge(
                map-get($utilities, 'color'),
                (
                    values:
                        map-merge(
                            map-get(map-get($utilities, 'color'), 'values'),
                            ($all-colors)
                        ),
                )
            ),
    )
);
@import 'bootstrap/scss/utilities/api';

// 8. Custom FlyArrow.io class overrides
@import 'arrow-root.css';
@import 'fly_arrow';


.login-background-svg {
  width: 80%;
  height: 80%;
  border-radius: 50px 0px 0px 50px;
}

.login {
  background-color: #1B202C;
  height: 100%;
}

.desktop-login-menu-svg {
    width: 400px;
    height: 34.31px;
    gap: 10px;
}

.welcome-login-text {
    font-family: 'Poppins', sans-serif;
}

.custom-input-field {
    width: 90%;
    height: 80%;
    padding: 8px, 0px, 8px, 0px;
    border-radius: 25px;
    display: flex;
    gap: 5px;
}

.icon-label {
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-right: 10px;
  }

  .desktop-button-input {
    padding: 10px 15px;
    width: 100%;
    height: 80%;
    border-radius: 25px;
    align-items: center;
    gap: 10px;
    background-color: #8086ed1a;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .desktop-button-input input {
  background-color: transparent; 
  border: none; 
  flex: 1;
  height: 100%;
  padding: 0; 
  color: white; 
  outline: none; 
  box-shadow: none;
}

.desktop-button-input input:focus {
    outline: none;
  }